/* @import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
 */

$font-family: monospace;
$background-image: "../images/palm1.jpg";
$color-hard: rgb(29, 99, 99);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //background-color: rgb(153, 231, 201);
  background-image: url($background-image);
  background-size: cover;

  .header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin: 2rem;
    gap: 1rem;

    .icon-header {
      display: flex;
      height: 4rem;
      width: 4rem;
      margin: 0.5rem;
    }

    .h1-header {
      font-family: $font-family;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-hard;
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 2rem;
      overflow-wrap: break-word;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      padding: 0.5rem;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-family;
    font-weight: 600;
    color: rgb(255, 255, 255);

    .label-input {
      font-size: 1.2rem;
      margin: 1rem;
      color: $color-hard;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      padding: 0.5rem;
    }

    .fieldset {
      border: none;
      margin-bottom: 2rem;

      .input-text {
        height: 1.5rem;
        margin-bottom: 1rem;
        margin-right: 2rem;
        border-radius: 10px / 30px;
        font-family: $font-family;
        font-weight: 600;
        border: none;
        padding-left: 0.5rem;
        color: rgb(22, 165, 117);

        &:focus {
          outline: none;
          caret-color: rgb(14, 148, 103);
          padding-left: 0.5rem;
        }

        &::placeholder {
          opacity: 0.4;
          padding-left: 0;
        }
      }

      .btn-search {
        height: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 10px / 30px;
        border: none;

        background-color: $color-hard;
        font-family: $font-family;
        font-weight: 600;
        color: white;

        &:hover {
          /* transform: scale(1.5, 1.5);
          background-color: rgb(21, 235, 163); */
          transform: rotate(0.5turn);
          transition: 0.6s;
          cursor: pointer;
        }
      }
    }
  }

  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;

    .container1 {
      display: grid;
      justify-content: center;
      padding: 1rem;
      color: $color-hard;
      font-family: $font-family;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 20px;

      .title-list-api {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .list-favs {
        display: flex;
        flex-direction: column;
      }

      .card-drink {
        display: flex;
        margin: 1.5rem;

        .item-name {
          display: flex;
          justify-content: flex-start;
          font-family: $font-family;
          width: 5rem;
        }

        .img-drink {
          width: 10rem;
          height: 10rem;
          border-radius: 50px 10px;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .btn-delete {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          border-radius: 50%;
          height: 1.5rem;
          width: 1.5rem;
          border: none;
          background-color: $color-hard;
          color: white;
          font-weight: 700;

          &:hover {
            cursor: pointer;
            color: rgb(3, 104, 74);
            color: rgb(22, 17, 17);
          }
        }
      }

      .btn-reset {
        height: 1.5rem;
        width: 4rem;
        margin-top: 3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 10px / 30px;
        border: none;
        background-color: $color-hard;
        font-family: $font-family;
        font-weight: 600;
        color: white;
        margin-left: 2rem;

        &:hover {
          transform: scale(1.5, 1.5);
          background-color: rgb(21, 235, 163);
          cursor: pointer;
        }
      }
    }

    .container2 {
      display: grid;
      justify-content: center;
      padding: 1rem;
      color: $color-hard;
      font-family: $font-family;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 20px;

      .title-list-fav {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .card-drink {
        display: flex;
        margin: 1.5rem;
        cursor: pointer;

        .item-name {
          display: flex;
          justify-content: flex-start;
          font-family: $font-family;
          width: 5rem;
        }

        .img-drink {
          width: 10rem;
          height: 10rem;
          border-radius: 50px 10px;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .fav-drink {
        border: 5px solid rgb(68, 194, 85);
        border-radius: 20px;
        color: rgb(68, 194, 85);
        padding: 1rem;
      }
    }
  }
}
